[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
abalone-dpacia-sklearn = {editable = true,path = "."}
pandas = "*"
numpy = "*"
sklearn = "*"
matpltlib = "*"

[requires]
python_version = "3.7"
